spring:
  mvc:
    servlet:
      path: /api

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://aws-1-us-east-2.pooler.supabase.com:6543/postgres?sslmode=require&preferQueryMode=simple}
    username: ${SPRING_DATASOURCE_USERNAME:postgres.qxlnxqzfnkrxxxakyvdt}
    password: ${SPRING_DATASOURCE_PASSWORD:SebasyLisa08}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  error:
    include-message: always

app:
  jwt:
    secret: ${APP_JWT_SECRET:change-this-secret-to-a-very-long-random-value-32b-min}
    access-ttl-sec: 10400
    refresh-ttl-sec: 1209600
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:http://localhost:4200,https://restaur-app-frontend.vercel.app,https://*.vercel.app}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
